
    h1 {
      margin-bottom: 15px;
      font-size: 80px;
      color: white;
      text-align: center;
      text-decoration: underline;
      background-color: rgb(48, 48, 48);
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 15px;
      font-size: 40px;
      text-align: center;
    }
    h3 {
      margin-top: 15px;
      font-size: 20px;
      text-align: center;
    }

    img {
      float: left;
      margin-left: auto;
      margin-right: 3mm;
      display: block;
    }

    p {
      font-size: 20px;
      font-weight: bold;
    }

    ul {
      text-align: center;
      font-size: 35px;
      border-style: solid;
      border-width: 5px;
      list-style-position: inside;
    }
    .red{
        color:red;
    }

    #name{
        color:rgb(48, 48, 48);
        font-weight: bolder;
        text-align: center;
    }

    #bio{
      padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 45px;
    color: #eee;
    text-align: center;
    }

#description{
  text-align: justify;
}

li{
  text-align: left;
}

#contact{
  margin-top: 3em;
}